<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Page title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="css/bulma/bulma.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="favicon.ico">
    <script src="js/main.js"></script>
  </head>
  <body>
    <div class="">
        
      <section class="about-cover is-relative is-small">
        <div class="is-relative">
          <nav class="navbar px-3 py-4" style="background-color: transparent;">
            <div class="navbar-brand">
              <a class="navbar-item is-hidden-touch" href="#">
                <img class="image is-fullwidth" src="bulma-plain-assets/logos/plainb-logo-white.svg" alt="" width="96px">
              </a>
              <a class="navbar-item is-hidden-desktop" href="#">
                <img class="image" src="bulma-plain-assets/logos/plainb-logo-white.svg" alt="" width="96px">
              </a>
              <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
            <div class="navbar-menu">
              <div class="navbar-end"><a class="navbar-item" href="#">About</a><a class="navbar-item" href="#">Services</a><a class="navbar-item" href="#">Proposals</a><a class="navbar-item" href="#">Theses</a><a class="navbar-item" href="#">Prices</a><a class="navbar-item" href="#">Topics</a></div>
              <div class="navbar-item"><a class="button is-primary" href="#">Order</a></div>
            </div>
          </nav>
          <div class="container p-3">
            <div class="mb-5 is-vcentered columns">
              <div class="columns is-multiline p-2 is-centered">
                <div class="column is-8 mt-6 has-text-centered"> 
                  <h2 class="has-text-white mt-2 mb-4 is-size-2-desktop is-size-5-mobile is-size-4-tablet has-text-weight-bold">Busy Professional in need of a Masters Thesis or Masters Proposal?</h2>
                  <p class="subtitle is-size-6-mobile is-size-6-tablet has-text-grey-lighter">Take the stress out your masters Program! Let our writers provide a custom model thesis!</p>
                  <div class="buttons is-centered"><a class="button is-primary mb-5 is-medium" href="#">Order a Paper Now!</a></div> 
                </div>  
              </div>
            </div>
          </div>
        </div>   
      </section>
        
      <nav class="navbar has-background-primary breadcrumb py-3 px-3" aria-label="breadcrumbs">
        <ul>
          <li><a href="#">Bulma</a></li>
          <li><a href="#">Documentation</a></li>
          <li><a href="#">Components</a></li>
          <li class="is-active"><a href="#" aria-current="page">Breadcrumb</a></li>
        </ul> 
      </nav>
        
      <section class="section has-background-success">
        <div class="container">
          <div class="columns is-multiline">
            <div class="column is-8">
              <div class="box has-background-white-ter p-6">
                <h2 class="mb-5 is-size-2 is-size-3-mobile has-text-weight-bold has-text-centered has-text-primary">About Us</h2>
                <div class="has-text-dark mb-5 conStyle"> 
                  <p class="has-text-weight-bold is-size-4-desktop is-size-6-mobile is-size-6-tablet">Who We Are</p>
                  <p>We are a custom writing company that produces academic projects for students and busy professionals. Owned by E World Publishing, Inc. MastersProposal.com has been providing custom written masters proposals and masters theses for over 10 years.</p>
                  <p class="has-text-weight-bold is-size-4-desktop is-size-6-mobile is-size-6-tablet">Family owned and operated!</p>
                  <p>MastersProposal.com is owned by E World Publishing, Inc. which is family owned and operated in Northeastern Pennsylvania. While we employ over 60 academic freelance writers, our office staff is a close and dependable group of sisters that you can talk to personally, any day of the week.</p>
                </div>
      
              </div>
            </div>
            <div class="column is-one-third"> 
              <div class="box has-background-white-ter p-3">
                <h2 class="is-size-3-desktop is-size-4-mobile is-size-5-tablet has-text-weight-bold has-text-primary has-text-centered">MastersProposal.com</h2>
                <div class="has-text-dark p-4 mb-5">
                  <p class="mb-5">Call us toll free at any time and discuss your project, our services or any academic questions you have - 1-877-801-0409.</p>
      
                  <h3 class="is-size-5-desktop has-text-weight-bold has-text-primary is-size-6-tablet mb-5">Providing Caring, Professional Writers</h3>
                  <p>All our writers are professional freelance academic writers that have worked for us for years in various positions before earning our trust for masters level projects and theses.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
        
      <section class="has-background-primary">
        <div class="container">
          <div class="columns is-multiline is-centered">
            <div class="column is-9 mb-4">
              <h2 class="has-text-white mt-6 mb-4 is-size-2-desktop is-size-4-mobile is-size-3-tablet has-text-weight-bold has-text-centered">About Our Writers</h2>
              <div class="has-text-grey-light mb-3">
                <p class="mb-3">Our writers are the heart and soul of MastersProposal.com. In order to be qualified to be a writer with MastersProposal.com each writer has the following MINIMUM qualifications:</p>
                <div class="px-2 ml-5 mb-3"> 
                  <li>At least a Masters Degree in their chosen field</li>
                  <li>Worked for E World Publishing, Inc. for over 6 months</li>
                  <li>Have a proven track record of dependability with our company</li> 
                  <li>Demonstrated exceptional ability in understanding format requirements, thesis structure and academic documentation of statistical research</li> 
                </div> 
              </div>
            </div>
          </div>
          <div class="columns is-multiline">
      
            <div class="column is-4 mb-6">
              <div class="box p-6 has-background-success has-text-centered" style="height: 100%">
                <h4 class="is-size-4 has-text-weight-bold has-text-primary">Our writers are top in their fields</h4>
                <p class="has-text-dark mb-3">Every writer is screened carefully concerning their academic history.</p>
                <p class="has-text-dark has-text-weight-bold">Writers must hold an advanced degree!</p>
              </div>
            </div>
            <div class="column is-4 mb-6">
              <div class="box p-6 has-background-success is-covered" style="height: 100%">
                <h4 class="is-size-4 has-text-weight-bold has-text-centered has-text-primary">English must be their first language</h4> 
                <p class="has-text-dark">Every writer is screened carefully concerning their academic history.</p>
              </div>
            </div>
            <div class="column is-4 mb-6">
              <div class="box p-6 has-background-success has-text-centered" style="height: 100%">
                <h4 class="is-size-4 has-text-weight-bold has-text-centered has-text-primary">All writers are under contract with E World Publishing</h4>
                <p class="has-text-dark">This means all writers have signed an antiplagiarism agreement and their work is guaranteed to be original.</p>
      
              </div>
            </div>
          </div>
        </div> 
      </section>
        
      <footer class="section has-background-dark">
        <div class="container pb-5 has-text-centered">
          <a class="mx-auto mb-4 is-inline-block" href="#">
            <img class="image" src="bulma-plain-assets/logos/plainb-logo.svg" alt="" width="96px">
          </a>
        </div>
        <div class="pt-5" style="border-top: 1px solid #dee2e6;"></div>
        <div class="container">
          <p class="has-text-centered has-text-white">All rights reserved © MastersProposal.com - E World Publishing</p>
        </div>
      </footer>
    </div>
  </body>
</html>
