{% extends "mastersproposal/base.html" %}
{% load static %} 
{% block meta %}
    <title>About MastersProposal.com</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="MastersProposal.com - professional writers helping write your masters proposal or thesis."> 
    {% endblock meta %} 
  
        
        {% block content %}  
                <h2 class="mb-5 is-size-2 is-size-3-mobile has-text-weight-bold has-text-centered has-text-primary">About Us</h2>
                <div class="has-text-dark mb-5 conStyle"> 
                  <p class="has-text-weight-bold is-size-4-desktop is-size-6-mobile is-size-6-tablet">Who We Are</p>
                  <p>We are a custom writing company that produces academic projects for students and busy professionals. Owned by E World Publishing, Inc. MastersProposal.com has been providing custom written masters proposals and masters theses for over 10 years.</p>
                  <p class="has-text-weight-bold is-size-4-desktop is-size-6-mobile is-size-6-tablet">Family Owned and Operated!</p>
                  <p>MastersProposal.com is owned by E World Publishing, Inc. which is family owned and operated in Northeastern Pennsylvania. While we employ over 60 academic freelance writers, our office staff is a close and dependable group of sisters that you can talk to personally, any day of the week.</p>
                </div> 
              </div>
            </div> 
            {% endblock content %}

            {% block sidecolumn %} 
            <div class="column is-one-third"> 
              <div class="box has-background-white-ter p-3">
                <h2 class="is-size-3-desktop is-size-4-mobile is-size-5-tablet has-text-weight-bold has-text-primary has-text-centered">MastersProposal.com</h2>
                <div class="has-text-dark p-4 mb-5">
                  <p class="mb-5">Call us toll free at any time and discuss your project, our services or any academic questions you have - 1-877-801-0409.</p>
      
                  <h3 class="is-size-5-desktop has-text-weight-bold has-text-primary is-size-6-tablet mb-5">Providing Caring, Professional Writers</h3>
                  <p>All our writers are professional freelance academic writers that have worked for us for years in various positions before earning our trust for masters level projects and theses.</p>
                </div>
              </div>
            </div>
            {% endblock sidecolumn %}
 
            {% block extra-section %} 
      <section class="has-background-primary">
        <div class="container">
          <div class="columns is-multiline is-centered">
            <div class="column is-9 mb-4">
              <h2 class="has-text-white mt-6 mb-4 is-size-2-desktop is-size-4-mobile is-size-3-tablet has-text-weight-bold has-text-centered">About Our Writers</h2>
              <div class="has-text-grey-light mb-3">
                <p class="mb-3">Our writers are the heart and soul of MastersProposal.com. In order to be qualified to be a writer with MastersProposal.com each writer has the following MINIMUM qualifications:</p>
                <div class="px-2 ml-5 mb-3"> 
                  <li>At least a Masters Degree in their chosen field</li>
                  <li>Worked for E World Publishing, Inc. for over 6 months</li>
                  <li>Have a proven track record of dependability with our company</li> 
                  <li>Demonstrated exceptional ability in understanding format requirements, thesis structure and academic documentation of statistical research</li> 
                </div> 
              </div>
            </div>
          </div>

          <div class="columns is-multiline">
            <div class="column is-4 mb-6">
              <div class="box p-6 has-background-success has-text-centered" style="height: 100%">
                <h4 class="is-size-4 has-text-weight-bold has-text-primary">Our writers are top in their fields</h4>
                <p class="has-text-dark mb-3">Every writer is screened carefully concerning their academic history.</p>
                <p class="has-text-dark has-text-weight-bold">Writers must hold an advanced degree!</p>
              </div>
            </div>
            <div class="column is-4 mb-6">
              <div class="box p-6 has-background-success is-covered" style="height: 100%">
                <h4 class="is-size-4 has-text-weight-bold has-text-centered has-text-primary">English must be their first language</h4> 
                <p class="has-text-dark">Every writer is screened carefully concerning their academic history.</p>
              </div>
            </div>
            <div class="column is-4 mb-6">
              <div class="box p-6 has-background-success has-text-centered" style="height: 100%">
                <h4 class="is-size-4 has-text-weight-bold has-text-centered has-text-primary">All writers are under contract with E World Publishing</h4>
                <p class="has-text-dark">This means all writers have signed an antiplagiarism agreement and their work is guaranteed to be original.</p>
      
              </div>
            </div>
          </div>
        </div> 
      </section>
      {% endblock extra-section %} 
