{% load static %} 
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %} {% endblock meta %}  
    <link rel="stylesheet" type="text/css" href="{% static 'css/mastersproposal.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.mp.css' %}">
    {% block link %} {% endblock link %} 
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    {% block java %} {% endblock java %}
    <script src="{% static 'js/mastersproposal.js' %}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-2687646-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-2687646-3');
</script>
  </head>
  <body>

    {% block hero %}  
      <section class="hero hero-cover is-medium">
        {% endblock hero %}

        <div class="is-relative">
            <nav class="navbar px-3 py-4 is-fixed-top"style="background-color: #333A56;">
              <div class="navbar-brand">
                <a class="navbar-item is-hidden-touch" href="#">
                  <img class="image" src="{% static 'images/mastersproposal-logo.svg' %}" alt="MastersProposal Logo" width="220px" height="220px">
                </a>
                <a class="navbar-item is-hidden-desktop" href="#">
                  <img class="image" src="{% static 'images/mastersproposal-logo.svg' %}" alt="MastersProposal Logo" width="220px" height="220px">
                </a>
                <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                </a>
              </div>
              <div class="navbar-menu">
                <div class="navbar-end"><a class="navbar-item" href="{% url 'mastersproposal:about' %}">About</a><a class="navbar-item" href="{% url 'mastersproposal:services' %}">Services</a><a class="navbar-item" href="{% url 'mastersproposal:proposals' %}">Proposals</a><a class="navbar-item" href="{% url 'mastersproposal:thesis' %}">Theses</a><a class="navbar-item" href="#">Prices</a><a class="navbar-item" href="#">Topics</a></div>
                <div class="navbar-item"><a class="button is-dark" href="#">Order</a></div>
              </div>
            </nav>

            {% block herobody %}
            <div class="hero-body">
             <div class="container hero-body">
              <div class="mb-5 is-vcentered columns">
                <div class="columns is-centered">
                  <div class="column is-8 mt-6 has-text-centered"> 
                    <h2 class="has-text-white mt-2 mb-4 is-size-2-desktop is-size-4-mobile is-size-3-tablet has-text-weight-bold">Busy Professional in need of a Masters Thesis or Masters Proposal?</h2>
                    <p class="subtitle has-text-grey-lighter">Take the stress out your masters Program! Let our writers provide a custom model thesis!</p>
                    <div class="buttons is-centered"><a class="button is-primary mb-5 is-medium" href="#">Order Paper Now!</a></div> 
                  </div>  
                </div>
              </div> 
              </div>
              </div> 
              </div> 
              {% endblock herobody %} 
        </section> 

        {% block homepage %}
        <section class="section has-background-success">
          <div class="container">
            <div class="columns is-multiline">
              <div class="column is-8">
                <div class="box has-background-white-ter p-6">

                {% block content %} 
                {% endblock content %} 

                {% block sidecolumn %}
                {% endblock sidecolumn %}

              </div>
            </div>
          </section>


          {% block extra-section %} 
        {% endblock extra-section %}

        {% endblock homepage %}

        <footer class="section ">
          <div class="container pb-5 has-text-centered">
            <a class="mx-auto mb-4 is-inline-block" href="#">
              <img class="image" src="{% static 'images/mastersproposal-logo.svg' %}" alt="MastersProposal Logo" width="300px" height="250px">
            </a>
          </div>
          <div class="pt-5" style="border-top: 1px solid #dee2e6;"></div>
          <div class="container">
            <p class="has-text-centered has-text-white">All rights reserved © MastersProposal.com - E World Publishing</p>
          </div>
        </footer>
           
    </body>
  </html>
        
{% block scripts %}{% endblock scripts %}
             