<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Page title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="css/bulma/bulma.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="favicon.ico">
    <script src="js/main.js"></script>
  </head>
  <body>
    <div class="">
        
      <section class="masters-cover is-relative is-small">
        <div class="is-relative">
          <nav class="navbar px-3 py-4" style="background-color: transparent;">
            <div class="navbar-brand">
              <a class="navbar-item is-hidden-touch" href="#">
                <img class="image is-fullwidth" src="bulma-plain-assets/logos/plainb-logo-white.svg" alt="" width="96px">
              </a>
              <a class="navbar-item is-hidden-desktop" href="#">
                <img class="image" src="bulma-plain-assets/logos/plainb-logo-white.svg" alt="" width="96px">
              </a>
              <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
            <div class="navbar-menu">
              <div class="navbar-end"><a class="navbar-item" href="#">About</a><a class="navbar-item" href="#">Services</a><a class="navbar-item" href="#">Proposals</a><a class="navbar-item" href="#">Theses</a><a class="navbar-item" href="#">Prices</a><a class="navbar-item" href="#">Topics</a></div>
              <div class="navbar-item"><a class="button is-primary" href="#">Order</a></div>
            </div>
          </nav>
          <div class="container p-3">
            <div class="mb-5 is-vcentered columns">
              <div class="columns is-multiline p-2 is-centered">
                <div class="column is-8 mt-6 has-text-centered"> 
                  <h2 class="has-text-white mt-2 mb-4 is-size-2-desktop is-size-5-mobile is-size-4-tablet has-text-weight-bold">Busy Professional in need of a Masters Thesis or Masters Proposal?</h2>
                  <p class="subtitle is-size-6-mobile is-size-6-tablet has-text-grey-lighter">Take the stress out your masters Program! Let our writers provide a custom model thesis!</p>
                  <div class="buttons is-centered"><a class="button is-primary mb-5 is-medium" href="#">Order a Paper Now!</a></div> 
                </div>  
              </div>
            </div>
          </div>
        </div>   
      </section>
        
      <nav class="navbar has-background-primary breadcrumb py-3 px-3" aria-label="breadcrumbs">
        <ul>
          <li><a href="#">Bulma</a></li>
          <li><a href="#">Documentation</a></li>
          <li><a href="#">Components</a></li>
          <li class="is-active"><a href="#" aria-current="page">Breadcrumb</a></li>
        </ul> 
      </nav>
        
      <section class="section has-background-success">
        <div class="container">
          <div class="columns is-multiline">
            <div class="column is-8">
              <div class="box has-background-white-ter p-5">
                <h2 class="mb-5 is-size-2-desktop is-size-4-mobile is-size-4-tablet has-text-weight-bold has-text-centered">Masters Theses</h2>
                <div class="has-text-dark mb-5 conStyle">  
                  <p class="has-text-weight-bold is-size-4-desktop is-size-6-mobile is-size-6-tablet">Completing your masters thesis is within your reach today!</p>
                  <div class="px-5 m-4"> 
                    <li>Let our professional writers complete a model thesis, exactly according to your specific requirements.</li>
                    <li>Why it is theoretically and substantively significant</li>
                    <li>Ensure that you will meet the requirements of your university and obtain your advanced degree</li>
                    <li>Save money by getting your thesis done this semester</li> 
                  </div> 
      
                  <div class="pt-4">
                    <p class="has-text-weight-bold is-size-3 mt-3">Careful Planning Begins with Us!</p> 
                    <p>The Master’s thesis represents a significant undertaking and should be carefully planned prior to the actual writing stage.  We patiently help you through this difficult stage.</p>
                  </div>
                  <div class="pt-4">
                    <p class="has-text-weight-bold is-size-3 mt-3">Our Philosophy and Format of Masters Theses</p>
                    <p>Like a Master’s Proposal, a Master’s Thesis possesses a structured format.  The Master’s Thesis typically contains five chapters: Introduction, Literature Review, Materials and Methods, Results and Discussion, and Conclusions.</p> 
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-one-third"> 
              <div class="box has-background-white-ter p-3">
                <h2 class="is-size-3-desktop is-size-4-mobile is-size-5-tablet has-text-weight-bold has-text-primary has-text-centered">Let the Professionals Help you Today!</h2>
                <div class="has-text-dark p-4 mb-5">
                  <p>Our writers have completed thousands of theses over our 20+ years in business.
                    MastersProposal.com knows:</p>
      
                  <span class="px-5 mb-4">
                    <li>What Universities are looking for in getting a Thesis approved</li>
                    <li>Complex Formatting</li>
                    <li>Original Research</li>
                    <li>Methodological Context</li></span>
      
                  <h3 class="is-size-3-desktop is-size-4-mobile is-size-5-tablet has-text-weight-bold has-text-primary has-text-centered">One Step Away from Success!</h3>
      
                  <p class="mt-4 mb-5">Achieve the degree you've been working hard for and sacrificing time and family for!</p>
                  <span class="mx-auto mb-4 is-flex is-justify-content-center is-align-items-center">
                    <figure class="image is-256x256 p-5">
                      <img class="is-square" src="https://images.pexels.com/photos/3779409/pexels-photo-3779409.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500">
                    </figure> 
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </section>
        
      <section class="section has-background-dark">
        <div class="container">
          <div class="has-text-centered"><h2 class="has-text-white mt-2 mb-4 is-size-2-desktop is-size-5-mobile is-size-4-tablet has-text-weight-bold">What About Trust?</h2>
            <p class="is-size-4-desktop is-size-6-mobile is-size-6-tablet has-text-grey-lighter">How can I trust <b>MastersProposal.com</b> with writing something as important as my masters thesis?</p></div>
          <div class="columns box has-background-primary is-multiline mt-6">
            <div class="column is-4 mb-3 is-flex">
              <div class="is-flex">
      
                <div>
                  <h3 class="has-text-centered is-size-3 has-text-success">Order Entire Thesis</h3>
                  <span class="mx-auto mb-4 is-flex is-justify-content-center is-align-items-center">
                    <figure class="image is-256x256 p-5">
                      <img class="is-square" src="https://images.pexels.com/photos/5313361/pexels-photo-5313361.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260">
                    </figure> 
                  </span>
                  <p class="has-text-success is-size-5 mb-2">Order all 5 chapters of your thesis - the complete project from start to finish.</p>
                </div>
              </div>
            </div>
      
            <div class="column is-4 mb-3 is-flex">
              <div>
                <h3 class="has-text-centered is-size-3 has-text-success">Literature Review Only!</h3>
                <span class="mx-auto mb-4 is-flex is-justify-content-center is-align-items-center">
                  <figure class="image is-256x256 p-5">
                    <img class="is-square" src="https://images.pexels.com/photos/2946979/pexels-photo-2946979.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260">
                  </figure> 
                </span>
                <p class="has-text-success is-size-5 mb-2">Order Literature Review - Order just the literature review section of your thesis.</p>
              </div>
            </div>
      
            <div class="column is-4 mb-3 is-flex">
              <div>
                <h3 class="has-text-centered is-size-3 has-text-success">Order Individual Chapter</h3>
                <span class="mx-auto mb-4 is-flex is-justify-content-center is-align-items-center">
                  <figure class="image is-256x256 p-5">
                    <img class="is-square" src="https://images.pexels.com/photos/8867482/pexels-photo-8867482.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260">
                  </figure> 
                </span>
                <p class="has-text-success is-size-5 mb-2">Order and Individual Chapter
      Having trouble with one particular chapter? Just order that chapter.</p>
              </div>
            </div>
      
      
      
          </div>
        </div>
      </section>
        
      <footer class="section has-background-dark">
        <div class="container pb-5 has-text-centered">
          <a class="mx-auto mb-4 is-inline-block" href="#">
            <img class="image" src="bulma-plain-assets/logos/plainb-logo.svg" alt="" width="96px">
          </a>
        </div>
        <div class="pt-5" style="border-top: 1px solid #dee2e6;"></div>
        <div class="container">
          <p class="has-text-centered has-text-white">All rights reserved © MastersProposal.com - E World Publishing</p>
        </div>
      </footer>
    </div>
  </body>
</html>
