{% extends "mastersproposal/base.html" %}
{% load static %} 
{% block meta %}
    <title>Page title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    {% endblock meta %} 
 
        {% block content %}   
                <h2 class="mb-5 is-size-2-desktop is-size-4-mobile is-size-4-tablet has-text-weight-bold has-text-centered">Masters Theses</h2>
                <div class="has-text-dark mb-5 conStyle">  
                  <p class="has-text-weight-bold is-size-4-desktop is-size-6-mobile is-size-6-tablet">Completing your masters thesis is within your reach today!</p>
                  <div class="px-5 m-4"> 
                    <li>Let our professional writers complete a model thesis, exactly according to your specific requirements.</li>
                    <li>Why it is theoretically and substantively significant</li>
                    <li>Ensure that you will meet the requirements of your university and obtain your advanced degree</li>
                    <li>Save money by getting your thesis done this semester</li> 
                  </div> 
      
                  <div class="pt-4">
                    <p class="has-text-weight-bold is-size-3 mt-3">Careful Planning Begins with Us!</p> 
                    <p>The Masters thesis represents a significant undertaking and should be carefully planned prior to the actual writing stage.  We patiently help you through this difficult stage.</p>
                  </div>
                  <div class="pt-4">
                    <p class="has-text-weight-bold is-size-3 mt-3">Our Philosophy and Format of Masters Theses</p>
                    <p>Like a Masters Proposal, a Masters Thesis possesses a structured format.  The Masters Thesis typically contains five chapters: Introduction, Literature Review, Materials and Methods, Results and Discussion, and Conclusions.</p> 
                  </div>
                </div>
              </div>
            </div>
            {% endblock content %}

            {% block sidecolumn %} 
            <div class="column is-one-third"> 
              <div class="box has-background-white-ter p-3">
                <h2 class="is-size-3-desktop is-size-4-mobile is-size-5-tablet has-text-weight-bold has-text-primary has-text-centered">Let the Professionals Help you Today!</h2>
                <div class="has-text-dark p-4 mb-5">
                  <p>Our writers have completed thousands of theses over our 20+ years in business.
                    MastersProposal.com knows:</p>
      
                  <span class="px-5 mb-4">
                    <li>What Universities are looking for in getting a Thesis approved</li>
                    <li>Complex Formatting</li>
                    <li>Original Research</li>
                    <li>Methodological Context</li></span>
      
                  <h3 class="is-size-3-desktop is-size-4-mobile is-size-5-tablet has-text-weight-bold has-text-primary has-text-centered">One Step Away from Success!</h3>
      
                  <p class="mt-4 mb-5">Achieve the degree you've been working hard for and sacrificing time and family for!</p>
                  <span class="mx-auto mb-4 is-flex is-justify-content-center is-align-items-center">
                    <figure class="image is-256x256 p-5">
                      <img class="is-square" src="{% static 'images/successful-man.webp' %}">
                    </figure> 
                  </span>
                </div>
              </div>
            </div>
            {% endblock sidecolumn %} 

            {% block extra-section %}  
      <section class="section has-background-dark">
        <div class="container">
          <div class="has-text-centered"><h2 class="has-text-white mt-2 mb-4 is-size-2-desktop is-size-5-mobile is-size-4-tablet has-text-weight-bold">What About Trust?</h2>
            <p class="is-size-4-desktop is-size-6-mobile is-size-6-tablet has-text-grey-lighter">How can I trust <b>MastersProposal.com</b> with writing something as important as my masters thesis?</p></div>
          <div class="columns box has-background-primary is-multiline mt-6">
            <div class="column is-4 mb-3 is-flex">
              <div class="is-flex">
      
                <div>
                  <h3 class="has-text-centered is-size-3 has-text-success">Order Entire Thesis</h3>
                  <span class="mx-auto mb-4 is-flex is-justify-content-center is-align-items-center">
                    <figure class="image is-256x256 p-5">
                      <img class="is-square" src="https://images.pexels.com/photos/5313361/pexels-photo-5313361.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260">
                    </figure> 
                  </span>
                  <p class="has-text-success is-size-5 mb-2">Order all 5 chapters of your thesis - the complete project from start to finish.</p>
                </div>
              </div>
            </div>
      
            <div class="column is-4 mb-3 is-flex">
              <div>
                <h3 class="has-text-centered is-size-3 has-text-success">Literature Review Only!</h3>
                <span class="mx-auto mb-4 is-flex is-justify-content-center is-align-items-center">
                  <figure class="image is-256x256 p-5">
                    <img class="is-square" src="https://images.pexels.com/photos/2946979/pexels-photo-2946979.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260">
                  </figure> 
                </span>
                <p class="has-text-success is-size-5 mb-2">Order Literature Review - Order just the literature review section of your thesis.</p>
              </div>
            </div>
      
            <div class="column is-4 mb-3 is-flex">
              <div>
                <h3 class="has-text-centered is-size-3 has-text-success">Order Individual Chapter</h3>
                <span class="mx-auto mb-4 is-flex is-justify-content-center is-align-items-center">
                  <figure class="image is-256x256 p-5">
                    <img class="is-square" src="https://images.pexels.com/photos/8867482/pexels-photo-8867482.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260">
                  </figure> 
                </span>
                <p class="has-text-success is-size-5 mb-2">Order and Individual Chapter
      Having trouble with one particular chapter? Just order that chapter.</p>
              </div>
            </div> 
          </div>
        </div>
      </section>
      {% endblock extra-section %}  
