{% extends "mastersproposal/base.html" %}
{% load static %} 
{% block meta %}
    <title>Page title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    {% endblock meta %} 

        {% block content %}
                <h2 class="mb-5 is-size-2-desktop is-size-4-mobile is-size-4-tablet has-text-weight-bold has-text-centered has-text-primary">Understanding Your Masters Proposal</h2>
                <div class="has-text-dark mb-5 conStyle">  
                  <p class="has-text-weight-bold">A masters proposal is the first stage of the masters thesis. The proposal must: </p>
                  <p>Unless otherwise specified, the typical masters proposal seeks to provide a plan for future research that will encompass your larger thesis. It is a blueprint for your work. It illustrates, in detail:</p>
                  <div class="px-5 m-4"> 
                    <li>Fully describe the question(s) or problem you will study</li>
                    <li>Describe the theoretical context and methods of your research</li>
                    <li>List the possible outcomes expected in the study</li>   
                  </div> 
                  <div class="pt-4">
                    <p class="has-text-weight-bold is-size-3-desktop is-size-5-mobile is-size-5-tablet">What is the purpose of a Master's Proposal?</p>  
                    <p>The proposal may very in length but usually ranges between 10-25 pages. Its purpose is to provide a plan for the project that will encompass your larger thesis. It is a blueprint for your work. It illustrates, in detail:</p>
                    <div class="px-5 m-4">
                      <li>What you plan to do?</li>  
                      <li>Why it is theoretically and substantively significant</li>
                      <li>What your major and minor objectives are</li> 
                      <li>What is the expected results of your study</li> 
                      <li>What is the significance of your study</li> 
                    </div>
                  </div>
      
                  <div class="pt-4">
                    <p class="has-text-weight-bold is-size-3-desktop is-size-5-mobile is-size-5-tablet">Format, Price and Delivery of Proposal</p> 
                    <p>You determine the elements needed in the proposal. Our basic format includes:</p>
                    <div class="px-5 m-4"> 
                      <li>Double Spacing</li>
                      <li>12 pt. Courier New Font</li>
                      <li>1" margins on all sides</li>
                      <li>Projects delivered as Microsoft Word .doc's unless otherwise arranged</li>
                      <li>Bibliography or works cited page is free</li>
                      <li>All projects are done in APA format, unless otherwise specified</li>
                    </div>  
                  </div> 
      
                </div>
              </div>
            </div> 
            {% endblock content %}

            {% block sidecolumn %}
            <div class="column is-one-third"> 
              <div class="box has-background-white-ter p-3">
                <h2 class="is-size-3-desktop is-size-4-mobile is-size-5-tablet has-text-weight-bold has-text-primary has-text-centered">What are the Elements of a Master's Proposal?</h2>
                <div class="has-text-dark p-4 mb-5"> 
                  <p>The proposal does not contain the actual study but merely the following elements:</p>
                  <span class="px-5 mb-4">
                    <li>Where you get the sample data used</li>
                    <li>How you will collect the data</li>
                    <li>How you will analysis the data</li>
                    <li>Any tabular presentations you will make</li>
                    <li>Type of statistics used</li>
                    <li>What are the shortcomings of the proposed study</li></span>
      
                  <h3 class="is-size-3-desktop is-size-4-mobile is-size-5-tablet has-text-weight-bold has-text-primary has-text-centered">Our Gaurantee</h3>
      
                  <p class="mt-4 mb-5">We guarantee we will follow your instructions and abide by your guidelines in order to get you exactly what you need.</p>
                  <span class="mx-auto mb-4 is-flex is-justify-content-center is-align-items-center">
                    <figure class="image is-256x256 p-5">
                      <img class="is-square" src="{% static 'images/laughing-laptop.webp' %}" alt="Laughing Woman on Computer" width="800" height="500">
                    </figure> 
                  </span>
                </div>
              </div>
            </div>  
            {% endblock sidecolumn %}
       
            {% block extra-section %} 
      <section class="section has-background-primary">
        <div class="container">
          <h2 class="has-text-centered has-text-white mt-2 mb-2 is-size-2-desktop is-size-5-mobile is-size-4-tablet has-text-weight-bold">General Proposal Outlines</h2> 
          <div class="columns is-multiline mt-4">
      
            <div class="column is-6"> 
              <div class="box has-background-white-ter p-3" style="height: 100%">
                <h2 class="is-size-3-desktop is-size-4-mobile is-size-5-tablet has-text-weight-bold has-text-primary has-text-centered">The following is a general outline for a Master's Thesis Proposal:</h2>
                <div class="pt-4"> 
                  <div class="px-5 m-4 has-text-dark"> 
                    <ul>I. Introduction</ul>
                    <ul style="text-indent: 25px;">A. Statement of the Problem</ul>
                    <ul style="text-indent: 25px;">B. Hypothesis</ul>
                    <ul style="text-indent: 25px;">C. Significance of the Problem</ul>
                    <ul style="text-indent: 50px;">1. Definition of important terms</ul>
                    <ul style="text-indent: 50px;">2. Assumptions and Limitations</ul>
                    <ul>II. Review of Literature</ul>
                    <ul>III. Design of the study</ul>
                    <ul style="text-indent: 25px;">A. Sample or study population</ul>
                    <ul style="text-indent: 25px;">B. Data sources and measures</ul>
                    <ul style="text-indent: 25px;">C. Data collection procedures</ul>
                    <ul style="text-indent: 25px;">D. Data analysis</ul>
                    <ul>References</ul>
                    <ul>Appendices</ul>  
                  </div> 
                </div> 
              </div>
            </div>
      
      
            <div class="column is-6"> 
              <div class="box has-background-white-ter p-3" style="height: 100%">
                <h2 class="is-size-3-desktop is-size-4-mobile is-size-5-tablet has-text-weight-bold has-text-primary has-text-centered">The following is a general outline for a Proposal without a data study:</h2>
                <div class="pt-4"> 
                  <div class="px-5 m-4 has-text-dark"> 
                    <ul>I. Introduction</ul>
                    <ul style="text-indent: 25px;">A. Statement of the Problem</ul>
                    <ul style="text-indent: 25px;">B. Goals and objectives</ul>
                    <ul style="text-indent: 25px;">C. Significance of the Problem</ul>
                    <ul style="text-indent: 50px;">1. Definition of important terms</ul>
                    <ul style="text-indent: 50px;">2. Assumptions and Limitations</ul>
                    <ul>II. Review of Literature</ul>
                    <ul>III. Design of the program or policy</ul>
                    <ul style="text-indent: 25px;">A. Identifying a target population</ul>
                    <ul style="text-indent: 25px;">B. Developing an action plan</ul>
                    <ul style="text-indent: 25px;">C. Identifying resources</ul>
                    <ul style="text-indent: 25px;">D. Implementation and monitoring plan</ul>
                    <ul>References</ul>
                    <ul>Appendices</ul> 
                  </div> 
                </div> 
                <div>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </section>
      {% endblock extra-section %} 