{% extends "mastersproposal/base.html" %}
{% load static %} 
    {% block meta %}
    <title>MastersProposal Services for Masters Theses and Proposals</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A custom master's proposal is only $27.95 per page!"> 
    {% endblock meta %} 
        
        {% block content %}
                <h2 class="mb-5 is-size-2-desktop is-size-4-mobile is-size-4-tablet has-text-weight-bold has-text-centered has-text-primary">Our Services</h2>
                <div class="has-text-dark mb-5 conStyle">  
                  <p class="has-text-weight-bold is-size-4-desktop is-size-6-mobile is-size-6-tablet">Masters Proposals</p>
                  <p>Unless otherwise specified, the typical masters proposal seeks to provide a plan for future research that will encompass your larger thesis. It is a blueprint for your work. It illustrates, in detail:</p>
                  <div class="px-5 m-4"> 
                    <li>Your hypothesis</li>
                    <li>Why it is theoretically and substantively significant</li>
                    <li>What your major and minor objectives are</li>
                    <li>What is the expected results of your study</li>
                    <li>What is the significance of your study</li> 
                  </div> 
                  <div class="pt-4">
                    <p class="has-text-weight-bold is-size-3-desktop is-size-5-mobile is-size-5-tablet">Pricing for a Masters Proposal</p> 
                    <p class="has-text-weight-bold is-size-4-desktop is-size-6-mobile is-size-6-tablet has-text-primary">$27.95 per page</p>
                    <p>This includes the typical 3 chapter format (unless otherwise specified). What other elements are included?</p>
                  </div>
                  <div class="pt-4">
                    <p class="has-text-weight-bold is-size-3-desktop is-size-5-mobile is-size-5-tablet">Pricing for a  Masters Thesis</p>
                    <p class="has-text-weight-bold is-size-4-desktop is-size-6-mobile is-size-6-tablet has-text-primary">$31.95 per page</p>
                    <p>Like a Masters Proposal, a Masters Thesis possesses a structured format.  The Masters Thesis typically contains five chapters: Introduction, Literature Review, Materials and Methods, Results and Discussion, and Conclusions.</p> 
                    <p>We can provide the entire Masters Thesis, individual sections or chapters or just the proposal or literature review. You design the service to meet your needs!</p>
                    <p>All projects are guaranteed original, free from plagiarism, sited according to the latest academic standards and submitted to you by the date you specify.</p>
                    <p>You may order your thesis chapter by chapter or the entire project up front.</p>
                  </div>
                  <div class="pt-4">
                    <p class="has-text-weight-bold is-size-3-desktop is-size-5-mobile is-size-5-tablet">RUSH Orders</p>
                    <p class="has-text-weight-bold is-size-4-desktop is-size-6-mobile is-size-6-tablet has-text-primary">$41.95 per page</p>
                    <p>A RUSH order is when a project is due within 4 full days. <b>No entire thesis will be accepted at RUSH status;</b> however, we will do portions of a thesis RUSH.</p>  
                  </div> 
                  <div class="pt-4">
                    <p class="has-text-weight-bold is-size-4-desktop is-size-6-mobile is-size-6-tablet">We can help with any aspect of a thesis:</p> 
                    <p>We can provide the entire model Masters Thesis, individual sections or chapters or just the proposal or literature review. You design the service to meet your needs!</p>
                  </div>
                  <div class="pt-4">
                    <p class="has-text-weight-bold is-size-3-desktop is-size-5-mobile is-size-5-tablet">All prices are based on the following:</p> 
                    <div class="px-5 m-4"> 
                      <li>Double Spacing</li>
                      <li>12 pt. Courier New Font</li>
                      <li>1" margins on all sides</li>
                      <li>Projects delivered as Microsoft Word .doc's unless otherwise arranged</li>
                      <li>Bibliography or works cited page is free</li>
                      <li>All projects are done in APA format, unless otherwise specified</li>
                    </div> 
                  </div> 
                </div>
              </div>
            </div> 
            {% endblock content %}

            {% block sidecolumn %}
            <div class="column is-one-third"> 
              <div class="box has-background-white-ter p-3">
                <h2 class="is-size-3-desktop is-size-4-mobile is-size-5-tablet has-text-weight-bold has-text-primary has-text-centered">4 Easy Steps to Ordering Your Masters Thesis</h2>
                <div class="has-text-dark p-4 mb-5"> 
                  <span class="px-5 mb-4">
                    <li>Gather all the information you have on your hypothesis, format, requirements and time-frame</li>
                    <li>Fill out the order form with your detailed information</li>
                    <li>Expect a call from an E World Publishing, Inc. representative to confirm your order (Someone will call within a few hours of placing your order)</li>
                    <li>Receive your entire thesis by the date you specified</li></span>
      
                  <h3 class="is-size-3-desktop is-size-4-mobile is-size-5-tablet has-text-weight-bold has-text-primary has-text-centered">Our Gaurantee</h3>
      
                  <p class="mt-4 mb-5">We guarantee we will follow your instructions and abide by your guidelines in order to get you exactly what you need.</p>
                  <span class="mx-auto mb-4 is-flex is-justify-content-center is-align-items-center">
                    <figure class="image is-256x256 p-5">
                      <img class="is-square" src="/static/images/successful-graduate.webp" alt="Successful Graduate" width="800px" height="509px">
                    </figure> 
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </section>
      {% endblock sidecolumn %}
      {% block extra-section %} 
      <section class="section has-background-primary">
        <div class="container">
          <h2 class="has-text-centered has-text-white mt-2 mb-2 is-size-2-desktop is-size-5-mobile is-size-4-tablet has-text-weight-bold">General Proposal Outlines</h2> 
          <div class="columns is-multiline mt-4">
      
            <div class="column is-6"> 
              <div class="box has-background-white-ter p-3" style="height: 100%">
                <h2 class="is-size-3-desktop is-size-4-mobile is-size-5-tablet has-text-weight-bold has-text-primary has-text-centered">The following is a general outline for a Master's Thesis Proposal:</h2>
                <div class="pt-4"> 
                  <div class="px-5 m-4 has-text-dark"> 
                    <ul>I. Introduction</ul>
                    <ul style="text-indent: 25px;">A. Statement of the Problem</ul>
                    <ul style="text-indent: 25px;">B. Hypothesis</ul>
                    <ul style="text-indent: 25px;">C. Significance of the Problem</ul>
                    <ul style="text-indent: 50px;">1. Definition of important terms</ul>
                    <ul style="text-indent: 50px;">2. Assumptions and Limitations</ul>
                    <ul>II. Review of Literature</ul>
                    <ul>III. Design of the study</ul>
                    <ul style="text-indent: 25px;">A. Sample or study population</ul>
                    <ul style="text-indent: 25px;">B. Data sources and measures</ul>
                    <ul style="text-indent: 25px;">C. Data collection procedures</ul>
                    <ul style="text-indent: 25px;">D. Data analysis</ul>
                    <ul>References</ul>
                    <ul>Appendices</ul>  
                  </div> 
                </div> 
              </div>
            </div>
      
      
            <div class="column is-6"> 
              <div class="box has-background-white-ter p-3" style="height: 100%">
                <h2 class="is-size-3-desktop is-size-4-mobile is-size-5-tablet has-text-weight-bold has-text-primary has-text-centered">The following is a general outline for a Proposal without a data study:</h2>
                <div class="pt-4"> 
                  <div class="px-5 m-4 has-text-dark"> 
                    <ul>I. Introduction</ul>
                    <ul style="text-indent: 25px;">A. Statement of the Problem</ul>
                    <ul style="text-indent: 25px;">B. Goals and objectives</ul>
                    <ul style="text-indent: 25px;">C. Significance of the Problem</ul>
                    <ul style="text-indent: 50px;">1. Definition of important terms</ul>
                    <ul style="text-indent: 50px;">2. Assumptions and Limitations</ul>
                    <ul>II. Review of Literature</ul>
                    <ul>III. Design of the program or policy</ul>
                    <ul style="text-indent: 25px;">A. Identifying a target population</ul>
                    <ul style="text-indent: 25px;">B. Developing an action plan</ul>
                    <ul style="text-indent: 25px;">C. Identifying resources</ul>
                    <ul style="text-indent: 25px;">D. Implementation and monitoring plan</ul>
                    <ul>References</ul>
                    <ul>Appendices</ul> 
                  </div> 
                </div> 
                <div>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </section>
        
      <section class="section has-background-dark">
        <div class="container">
          <h2 class="has-text-white mt-2 is-size-2-desktop is-size-5-mobile is-size-4-tablet has-text-weight-bold has-text-centered">Benefits of Our Services</h2>
          <div class="columns is-multiline mt-3">
            <div class="column is-4 mb-3 is-flex">
              <div class="is-flex"> 
                <div>
                  <span class="mx-auto mb-4 is-flex is-justify-content-center is-align-items-center">
                    <figure class="image is-256x256 p-5">
                      <img class="is-square" src="{% static 'images/more-time.webp' %}">
                    </figure> 
                  </span>
                  <p class="has-text-success mb-2">Helping you through one of the busiest times in your life!</p>
                </div>
              </div>
            </div>
            <div class="column is-4 mb-3 is-flex"> 
              <div>
                <span class="mx-auto mb-4 is-flex is-justify-content-center is-align-items-center">
                  <figure class="image is-256x256 p-5">
                    <img class="is-square" src="{% static 'images/customer-service.webp' %}">
                  </figure> 
                </span>
                <p class="has-text-success mb-2">Always here to help! 24 hours a day...7 days a week.</p>
              </div>
            </div>
            <div class="column is-4 mb-3 is-flex">
              <div>
                <span class="mx-auto mb-4 is-flex is-justify-content-center is-align-items-center">
                  <figure class="image is-256x256 p-5">
                    <img class="is-square" src="{% static 'images/order-creditcard.webp' %}">
                  </figure> 
                </span>
                <p class="has-text-success mb-2">Easy Order and credit card payment available... Visa, Mastercard, AmericanExpress, Discover and Western Union!</p>
              </div>
            </div> 
          </div>
        </div>
      </section>
      {% endblock extra-section %} 
         
